<h1> Showing articles details </h1>

<p> Title: <%= @article.title %></p>
<p> Description: <%= @article.description %> </p>
<p> created at: <%= @article.created_at %> </p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Return to articles listing', articles_path %>
